# Abaikan file kompilasi
*.class

# Abaikan folder setting IDE (agar tidak bentrok settingan VSCode teman)
.vscode/
.settings/
.classpath
.project
bin/

src/credentials.json
tokens/

# Abaikan file hasil output
*.png
*.jpg
